<div class=" content">
  <div class=" row">
      <div class=" col-md-12">
          <div class=" card card-plain">


              <div class=" row">

                  <div class=" col-lg-12 col-md-12">
                      <div class=" card">
                          <div class=" card-header">
        <h4 class=" card-title">Liste des utilisateurs</h4>
      </div>
      <div class=" card-body">
        <div class=" table-responsive">
          <table class=" table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Username</th>
                <th>Email</th>
                <th>Télephone</th>
                <th>Statut</th>
                <th >Action</th>
              </tr>
            </thead>
            <tbody>
            
              <tr *ngFor="let user of users |paginate: { itemsPerPage: 5, currentPage: p }">
                  <ng-container *ngIf="user.authorities[0].authority=='NORMAL'">
                  
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td >{{user.email}}</td>
                <td >{{user.phone}}</td>
                <td *ngIf="user.enabled" >Active</td>
                <td *ngIf="!user.enabled" >Desactive</td>

 
                <td> 
                  <i class="tim-icons  icon-check-2" style="margin-right: 12px;"(click)="updateUser(user.username)"></i>
                    <i class="tim-icons  icon-trash-simple" (click)="deleteUser(user.id)"></i>
                 
                </td>
            </ng-container>  
            </tr>
         
              
            </tbody>
            
          </table>
          <pagination-controls   
                       responsive="true"
                      previousLabel=" "
                      nextLabel=" "
                      (pageChange)="p = $event"
                        >
</pagination-controls>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div></div></div></div>