
<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card card-plain">
  
  
                <div class=" row">
  
                    <div class=" col-lg-12 col-md-12">
                        <div class=" card">
                            <div class=" card-header">

                                <p>SAGEMCOM TUNISIE est située à BEN AROUS, Tunisie et fait partie de l'industrie de fabrication de semi-conducteurs et d'autres composants électroniques. SAGEMCOM TUNISIE compte 2 500 employés sur ce site et réalise un chiffre d'affaires de 620,28 millions de dollars (USD). Le groupe familial SAGEMCOM TUNISIE compte 131 sociétés.

                                   <br> Cette application vous aide à connaître des informations sur la matière première telles que le mouvement, l'emplacement, la quantité ...    </p>
<video [muted] = "'muted'" controls autoplay  width="250">

    <source src="/media/cc0-videos/flower.webm"
            type="video/webm"> 

    <source src="../../../assets/sagem.mp4"
            type="video/mp4">

    Sorry, your browser doesn't support embedded videos.
</video>
</div></div></div></div></div></div></div></div> 