<div class="container">
  <div class="main-body">
  
      
    
  
        <div class="row gutters-sm">
        
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0"> Username</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user?.username}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0"> Nom</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user?.firstName}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0"> Prenom</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user?.lastName}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                  {{user?.email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Télephone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user?.phone}}

                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Satatus</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                   Active
                  </div>
                </div>
           
             
                <hr>
              
              </div>
            </div>

           



          </div>
        </div>

      </div>
  </div>