
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h4 class=" card-title">DASHBOARD</h4>
        </div>
        <iframe title="BIPFE" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=83acad58-c579-4f1c-bffe-501e2a92bb91&autoAuth=true&ctid=dbd6664d-4eb9-46eb-99d8-5c43ba153c61&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9
" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
  
  
</div>
