input:focus{
    border-radius: 10px;
    border-color: blue;
}
input{
    padding: 6px;
    height: 28px;
    border-radius: 10px;
    margin-left: 66px;
}
button{
    margin-left: 18px !important;
    color: #fff !important;
    border-radius: 10px;
    background: #247af6 !important;
    cursor: pointer;
    width: 175px !important;   
}